{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.client) }}
        {{ form_row(form.employe) }}
        {{ form_row(form.categorie) }}
        <div id="dynamic-fields">
            {{ form_row(form.prixHt) }}
            {{ form_row(form.quantite) }}
            {{ form_row(form.km) }}
            {{ form_row(form.prixKm) }}
            {{ form_row(form.taxe) }}
        </div>
        <button type="submit">Save</button>
    {{ form_end(form) }}

    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let dynamicFieldsContainer = document.getElementById('dynamic-fields');

            // Hide all dynamic fields initially
            if (dynamicFieldsContainer) {
                Array.from(dynamicFieldsContainer.children).forEach(function(field) {
                    field.style.display = 'none';
                });
            }

            // Function to show/hide fields based on category
            function updateDynamicFields() {
                let category = document.getElementById('devis_categorie').value;

                // Hide all fields first
                if (dynamicFieldsContainer) {
                    Array.from(dynamicFieldsContainer.children).forEach(function(field) {
                        field.style.display = 'none';
                    });
                }

                // Show fields based on selected category
                switch (category) {
                    case 'Hotel':
                        showField('devis_taxe');
                        showField('devis_prixHt');
                        showField('devis_quantite');
                        break;
                    case 'Voiture':
                        showField('devis_taxe');
                        showField('devis_km');
                        showField('devis_prixKm');
                        break;
                    default:
                        break;
                }
            }

            // Function to show a specific field
            function showField(fieldId) {
                let field = document.getElementById(fieldId);
                
                if (field) {
                    field.parentNode.style.display = 'block';
                }
            }

            // Add event listener to category field
            let categorieField = document.getElementById('devis_categorie');
            if (categorieField) {
                categorieField.addEventListener('change', updateDynamicFields);

                // Update fields on page load in case a category is already selected
                updateDynamicFields();
            }
        });
    </script>
{% endblock %}
