{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center">Devis</h1>
        {% for user in users %}
             <div class="devis-list">
                <p>{{user.firstname}}</p>
                <a href="{{path('devis.show',{id:user.id})}}">Voir devis</a>
            </div>
        {% endfor %}
        <hr>
        {% for client in clients %}
            <p>{{client.name}}</p>
             <a href="{{path('devis.showClient',{id:client.id})}}">Voir devis</a>
        {% endfor %}
        <a href="{{path('devis.new')}}" class='button btn-primary d-flex justify-content-center'>Ajouter un devis</a>
    </section>
{% endblock %}
