{% extends 'base.html.twig' %}

{% block title %}Forfait index{% endblock %}

{% block body %}
    <h1>Forfait index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Somme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait in forfaits %}
            <tr>
                <td>{{ forfait.id }}</td>
                <td>{{ forfait.name }}</td>
                <td>{{ forfait.somme }}</td>
                <td>
                    <a href="{{ path('admin.forfait.show', {'id': forfait.id}) }}">show</a>
                    <a href="{{ path('admin.forfait.edit', {'id': forfait.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.forfait.create') }}">Create new</a>
{% endblock %}
